@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background: #E5DDD2;
  color: black;
  font-family: 'Work Sans', sans-serif;
}

.image-inverted {
  filter: invert(100%);
}

.nav-link {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;
  text-decoration: none;
  letter-spacing: 1px;
}

.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline {
  border-color: black !important;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Default style for all screen sizes */
.slideshow-div {
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
  border: 3px solid black;
}

.wrapper {
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}

@keyframes slide {
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(0);
  }
  30%{
    transform: translateX(-100%);
  }
  50%{
    transform: translateX(-100%);
  }
  55%{
    transform: translateX(-200%);
  }
  75%{
    transform: translateX(-200%);
  }
  80%{
    transform: translateX(-300%);
  }
  100%{
    transform: translateX(-300%);
  }
}

/*
@media (min-width: 900px) {
  .responsive-div {
    display: flex;
  }
}

@media (max-width: 899px) {
  .responsive-div {
    display: none;
  }
}
*/